# Principe de fonctionnement du module My_Recommandation

<img src='utiles/Entretien du modèle.jpg'>

# Import des fichier depuis Azure Blob storage

<img src='utiles/Import des fichiers.jpg'>

In [1]:
from class_ import *
recommadantion = My_Recommandation()

Downloading UI/utiles/sparse.npz
Downloaded UI/utiles/sparse.npz, 1 files out of an estimated total of 5
Downloading UI/utiles/df_article.csv
Downloaded UI/utiles/df_article.csv, 2 files out of an estimated total of 5
Downloading UI/utiles/df_user.npy
Downloaded UI/utiles/df_user.npy, 3 files out of an estimated total of 5
Downloading UI/utiles/df_user.csv
Downloaded UI/utiles/df_user.csv, 4 files out of an estimated total of 5
Downloading UI/utiles/model.pkl
Downloaded UI/utiles/model.pkl, 5 files out of an estimated total of 5

# Gestion des fichiers

<img src='utiles/Gestion des fichiers.jpg'>

## Création de la matrice d'entrainement

In [3]:
%%time
recommadantion.sparse(500, True)
#recommadantion.train_model()

Parsing...
Save !
Train

/Users/kevinduranty/app/lib/python3.7/site-packages/implicit/utils.py:27: UserWarning: OpenBLAS detected. Its highly recommend to set the environment variable 'export OPENBLAS_NUM_THREADS=1' to disable its internal multithreading
  "OpenBLAS detected. Its highly recommend to set the environment variable "

  0%|          | 0/200 [00:00<?, ?it/s]

model trained successfuly
model save !

## Ajout d'un nouvel article

In [3]:
recommadantion.add_article(600000, 600)

Article added, file saved !

In [4]:
pd.read_csv('UI/utiles/df_article.csv')

        Unnamed: 0  article_id  category_id
0                0           0            0
1                1           1            1
2                2           2            1
3                3           3            1
4                4           4            1
...            ...         ...          ...
364043      364043      364043          460
364044      364044      364044          460
364045      364045      364045          460
364046      364046      364046          460
364047      600000      600000          600

[364048 rows x 3 columns]

## Ajout d'un nouvel utilisateur

In [6]:
recommadantion.add_user(4000000, [1,6,90], 8)

User added, file saved !

In [7]:
pd.DataFrame(np.load('UI/utiles/df_user.npy', allow_pickle=True), 
                          columns=['LIST_click_article_id', 'n_click'])

                                    LIST_click_article_id n_click
0       [157541, 68866, 96755, 313996, 160158, 233470,...      16
1       [327984, 183176, 235840, 96663, 59758, 160474,...      24
2                          [119592, 30970, 30760, 209122]       8
3       [236444, 234318, 233688, 237452, 235745, 12096...      53
4       [336499, 271261, 48915, 44488, 195887, 195084,...      17
...                                                   ...     ...
322893                                     [50644, 36162]       4
322894                                    [36162, 168401]       4
322895                                    [289197, 63746]       4
322896                                    [30760, 157507]       4
322897                                         [1, 6, 90]       8

[322898 rows x 2 columns]

# Proposer une recommandation à un utilisateur

In [4]:
recommadantion.predict(9)

[284154, 283220, 108856, 129434, 336245]

# Sauvegarde du modèle et de la base de données dans le cloud d'Azure


<img src='utiles/Envoi des fichiers.jpg'>

In [2]:
recommadantion.to_publish()

Validating arguments.
Arguments validated.
Uploading file to UI/utiles/
Uploading an estimated of 5 files
Uploading UI/utiles/sparse.npz
Uploaded UI/utiles/sparse.npz, 1 files out of an estimated total of 5
Uploading UI/utiles/df_article.csv
Uploaded UI/utiles/df_article.csv, 2 files out of an estimated total of 5
Uploading UI/utiles/df_user.npy
Uploaded UI/utiles/df_user.npy, 3 files out of an estimated total of 5
Uploading UI/utiles/df_user.csv
Uploaded UI/utiles/df_user.csv, 4 files out of an estimated total of 5
Uploading UI/utiles/model.pkl
Uploaded UI/utiles/model.pkl, 5 files out of an estimated total of 5
Uploaded 5 files
Creating new dataset
Published on Azure Blob Storage

# Fonctionnement de l'application Bookshelf
<img src="utiles/Application.jpg">
<img src="utiles/Fonctionnement de l'application Bookshelf.jpg">

https://appv1.azurewebsites.net/api/appv1